// Theme Information
//--------------------------------------------//
$font-bebas_neueregular: 'bebas_neueregular';
$font-helvetica: 'Helvetica Neue LT Std Medium';
$font-helvetica-bold: 'Helvetica Neue LT Std Bold';
$font-helvetica-light: 'Helvetica Neue LT Std Light';




//size
$tablet-1024: (900px 1024px);
$tablet-768: (768px 899px);
$mobile: (1px 767px);